[Unit]
Description=Bitscope Server
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/bitscope-server
Restart=on-abort

[Install]
WantedBy=multi-user.target
